<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Textarea Example</title>
</head>
<body>
    <div>
        <a href="/path">目录穿越</a> | <a href="/pathOk">无问题环境</a>
        <br>
        <a href="/sql">SQL注入</a> | <a href="/sqlOk">无问题环境</a>
        <br>
        <a href="/ssrf">SSRF</a> | <a href="/ssrfOk">无问题环境</a>
        <br>
        <a href="/upload">文件上传</a>
        <br>
        <a href="/xss">XSS</a>
        <br>
        <a href="/xxe">XML外部实体注入</a> | <a href="/xxeOk">无问题环境</a>
    </div>
</body>
</html>